.Stories {
  .head {
    font-size: 28px;
    text-align: center;
    padding: 10px 0;
    font-family: $header-font;
  }
  .story {
    margin: 40px 0;
  }
  .header {
    font-size: 30px;
    font-weight: bold;
    font-family: $header-font;
    padding: 10px 0;
  }
  .img-box {
    display: flex;
    align-items: center;
    img {
      width: 100%;
    }
  }
  .more {
    background-color: $gold-color;
    width: 150px;
    padding: 10px 0;
    text-align: center;
    margin: 20px 0;
    cursor: pointer;
  }
}
