@import "bootstrap/dist/css/bootstrap.css"; //bootstrap
@import url("https://fonts.googleapis.com/css2?family=Cairo&display=swap"); //main font
@import url("https://fonts.googleapis.com/css2?family=Kufam:ital@1&display=swap"); //header font
@import url("https://fonts.googleapis.com/css2?family=Vibes&display=swap"); //sign font
$sign-font: "Vibes";
$main-font: "Cairo";
$header-font: "Kufam";
body {
  overflow-x: hidden;
  direction: rtl;
}
a {
  text-decoration: none !important;
  display: inline-block;
}
* {
  font-family: $main-font;
  text-decoration: none !important;
}

$gold-color: #ffd333;
$dark-color: #3d464d;

.hadle-Padding-margin-Global {
  padding: 40px 0;
  margin-top: 50px;
}
.container {
  max-width: 1140px;
}
.buyed {
  background-color: white !important;
  color: $dark-color !important;
}
.SelectedCart {
  border-color: blue !important;
}
.true {
  border-color: rgb(3, 168, 3) !important;
  border-width: 2px;
}
.wrong {
  border-color: red !important;
  border-width: 2px;
}
.ReactModal__Content {
  width: 400px;
  margin: 50px auto;
  height: fit-content;
  padding: 40px;
  text-align: center;

  .confirm {
    background-color: $dark-color;
    width: 150px;
    margin: 10px auto;
    color: white;
    text-align: center;
    padding: 10px 0;
    cursor: pointer;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 665px;
  }
}
@import "Assest/Navbar";
@import "Assest/HomePage";
@import "Assest/About";
@import "Assest/Footer";
@import "Assest/Shop";
@import "Assest/cart";
@import "Assest/checkout";
@import "Assest/Stories";
@import "Assest/Catigoires";
